@import url(https://db.onlinewebfonts.com/c/25fb96b64c7477f11cef759f024ec97e?family=MessinaSansWeb+SemiBold);

@font-face {
  font-family: "MessinaSansWeb Bold";
  src: url("@/assets/fonts/MessinaSansWeb-Bold.woff2") format("woff2"),
    url("@/assets/fonts/MessinaSansWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
